@model Client.ViewModels.UserIdentityViewModel
@{
    ViewBag.Title = "Identity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Info</h2>

<form action="~/Views/Home/Main.cshtml">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" name="FirstName" class="form-control" value="@Model.Identity.FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" name="FirstName" class="form-control" value="@Model.Identity.LastName" />
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" name="FirstName" class="form-control" value="@Model.Identity.Age" />
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="FirstName" class="form-control" value="@Model.Identity.Address" />
    </div>
    <div class="form-group">
        <label for="work">Work Address</label>
        <input type="text" name="FirstName" class="form-control" value="@Model.Identity.WorkAddress" />
    </div>
    <button type="submit" class="btn btn-primary">
        @Html.ActionLink("Save","Edit","Identity",
        routeValues: new {identity = Model.Identity},htmlAttributes: null)
    </button>
</form>

